version: '3.8'

services:
  # 1. Database Service
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: my_data
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # 2. Streamlit Service
  frontend:
    build: .
    ports:
      - "8501:8501"
    environment:
      - POSTGRES_DB=my_data
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password123
    depends_on:
      - db

volumes:
  postgres_data: