name: CI/CD to Docker Hub

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        # Yahan se context hata diya hai kyunki login ko uski zaroorat nahi
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push
      uses: docker/build-push-action@v4
      with:
        # Yahan batana zaroori hai ki Dockerfile 'full-stack-app' folder ke andar hai
        context: ./full-stack-app
        file: ./full-stack-app/Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/my-de-app:latest